<!DOCTYPE html>
<html>
  <head>
    <title>Anunnaki app</title>
    <style type=text/css>{{ get_resource_as_string('static/styles.css') }}</style>
  </head>

  <body>

    <header>
      <div class="container">
        <h1 class="logo">Are we the descendants of Anunnaki?</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <div class="home">
      <h1>The species from Nibiru</h1>
      <p>How do they look like?</p>
      <img src="https://nuwaupianism.com/images/00--00BIRD.jpg" width="400">
      <img id="apod_img_id" src="{{ apod }}" width="600" height"auto">
      <iframe id="apod_vid_id" type="text/html" width="640px" height="640px" frameborder="0" scrolling="yes"></iframe>
      <p id="copyright"></p>

      <h3 id="apod_title"></h3>
      <p id="apod_explaination"></p>
    </div>

  </body>

</html>
